html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
  margin: 0;
  padding: 0;
  border: 2px solid black;
} */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  --theme-1: #648cff;
  --website-background-light: #ffffff;
  --text-color-1: white;
}

.fa {
    color: var(--text-color-1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.rectangle_button {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    border: 0;
    transition: transform 0.3s;
}
.rectangle_button:hover {
    transform: scale(1.1);
}

/* ---------------------------------------------- */
body {
    background-color: var(--website-background-light);
    background-image: url("./res/dividers/divider_white.png");
}

header a{
    color: var(--text-color-1);
    z-index: 100;
}

.section_tagline {
    font-weight: 300;
    opacity: 0.5;
}

.section_heading {
    color: var(--theme-1);
}

/* Nav Bar */
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  background-color: var(--theme-1);
}

#nav_logo_container {
    display: flex;
    justify-content: center;
    height: 25%;
}

#nav_links {
  display: flex;
  justify-content: center;
}

#nav_links > li {
    margin: 0.5rem;
}

#nav_social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_social > li {
    margin: 0.5rem;
}

/* Hero */
#hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("./res/assets/hero_background.png");
    height: 50rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

#hero_info {
    font-size: 3.5rem;
    padding-top: 8rem;
    padding-left: 12.3rem;
}

#hero_image {
    padding: 2rem;
    margin-top: 2.7rem;
    height: 65%;
}

#hero_info > p {
    margin: 0;
    color: var(--text-color-1);
}

#hero_download_button {
    background-color: #fc6a45;
    color: var(--text-color-1);
}

#hero_features_button {
    background-color: #4563c5;
    color: var(--text-color-1);
}

/* Features */
#feature_section {
    display: grid;
    justify-items: center;
}

#feature_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature {
    display: grid;
    grid-template-columns: 1fr 2fr;

    padding: 5rem;
}

.feature_icon_wrapper > i {
    font-size: 4rem;
    color: red;
}

.feature_info_wrapper > span{
    font-size: 1.5rem;
}

.feature_info_wrapper > p {
    font-weight: 300;
}

#feature_section_images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    position: relative;
}

#feature_image_left {
    position: relative;
    left: 17rem;
    top: -1rem;
    z-index: -1;
    height: 25rem;
}
#feature_image_center {
    height: 40rem;
}
#feature_image_right {
    position: relative;
    right: 5rem;
    top: -1rem;
    z-index: -1;
    height: 25rem;
}

/* Screenshots */