html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
  margin: 0;
  padding: 0;
  border: 2px solid black;
} */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

  --theme-1: #648cff;
  --website-background-light: #ffffff;
  --text-color-1: white;
}

main {
    display: grid;
}

.fa {
    color: var(--text-color-1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.rectangle_button {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    border: 0;
    transition: transform 0.3s;
}
.rectangle_button:hover {
    transform: scale(1.1);
}

/* ---------------------------------------------- */
body {
    background-color: var(--website-background-light);
    background-image: url("./res/dividers/divider_white.png");
}

header a{
    color: var(--text-color-1);
    z-index: 100;
}

.section_tagline {
    font-weight: 300;
    opacity: 0.5;
}

.section_heading {
    color: var(--theme-1);
    margin: 0.5rem;
    font-size: 2rem;
    margin: 0.5rem;
}

/* Nav Bar */
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  background-color: var(--theme-1);
}

#nav_logo_container {
    display: flex;
    justify-content: center;
    height: 25%;
}

#nav_links {
  display: flex;
  justify-content: center;
}

#nav_links > li {
    margin: 0.5rem;
}

#nav_social {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_social > li {
    margin: 0.5rem;
}

/* Hero */
#hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: url("./res/assets/hero_background.png");
    height: 50rem;
    background-repeat: no-repeat;
    background-size: 100%;
}

#hero_info {
    font-size: 3.5rem;
    font-weight: 600;
    padding-top: 8rem;
    padding-left: 12.3rem;
}

#hero_image {
    padding: 2rem;
    margin-top: 2.7rem;
    height: 65%;
}

#hero_info > p {
    margin: 0;
    color: var(--text-color-1);
}

#hero_download_button {
    background-color: #fc6a45;
    color: var(--text-color-1);
}

#hero_features_button {
    background-color: #4563c5;
    color: var(--text-color-1);
}

/* Features */
#feature_section {
    display: grid;
    justify-items: center;
}

#feature_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.feature {
    display: grid;
    grid-template-columns: 1fr 2fr;

    padding: 5rem;
}

.feature_icon_wrapper > i {
    font-size: 4rem;
    color: red;
}

.feature_info_wrapper > span{
    font-size: 1.5rem;
}

.feature_info_wrapper > p {
    font-weight: 300;
}

#feature_section_images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    position: relative;
}

#feature_image_left {
    position: relative;
    left: 17rem;
    top: -1rem;
    z-index: -1;
    height: 25rem;
}
#feature_image_center {
    height: 40rem;
}
#feature_image_right {
    position: relative;
    right: 5rem;
    top: -1rem;
    z-index: -1;
    height: 25rem;
}

/* Screenshots */
#screenshot_section {
    display: grid;
    justify-items: center;
}

.screenshot_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 8rem;
}

.screenshot_image_wrapper_1 {
    display: grid;
    justify-items: end;
    padding-right: 8rem;
    position: relative;
}

.screenshot_image_wrapper_1 > span {
    position: absolute;
    font-size: 13rem;
    font-weight: 300;
    rotate: 90deg;
    opacity: 0.13;
    z-index: 10;
    top: 10rem;
    right: -13rem;
}

.screenshot_image_wrapper_1 > img {
    z-index: 11;
}

.screenshot_info {
    padding-top: 5rem;
    padding-left: 1rem;
}

.screenshot_info_row_1 {
    display: flex;
    margin-bottom: 2rem;
}

.screenshot_info_row_2 > span {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.screenshot_info_row_2 > p {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
}

.screenshot_info_row_3 {
    display: flex;
}

#screenshot_info_2 {
    display: grid;
    justify-content: end;
}

.screenshot_image_wrapper_2 {
    display: grid;
    justify-items: start;
    padding-left: 8rem;
    position: relative;
}

.screenshot_image_wrapper_2 > span {
    position: absolute;
    font-size: 15rem;
    font-weight: 300;
    rotate: 90deg;
    opacity: 0.13;
    z-index: 10;
    top: 10rem;
    left: 7rem;
}

.screenshot_image_wrapper_2 > img {
    z-index: 11;
}

.screenshot_image_wrapper_3 {
    display: grid;
    justify-items: end;
    padding-right: 8rem;
    position: relative;
}
.screenshot_image_wrapper_3 > span {
    position: absolute;
    font-size: 13rem;
    font-weight: 300;
    rotate: 90deg;
    opacity: 0.13;
    z-index: 10;
    top: 10rem;
    right: -9rem;
}
.screenshot_image_wrapper_3 > img {
    z-index: 11;
}

.dotted_circle {
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    display: grid;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-items: center;

    color: #0000002e;
}

/* Review */
#review_section {
    display: grid;
    justify-items: center;
    margin-top: 5rem;
}

#reviews_wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: 3rem;
}

.review_box {
    display: grid;
    width: 68%;
    font-size: 1.3rem;
    word-wrap: normal;
}

.review > p {
    margin: 0;
    letter-spacing: 0.05rem;
}

.review_author {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin-top: 1rem;
}

.review_quote_before {
    font-size: 4rem;
    line-height: 1rem;
    color: var(--theme-1);
}

.review_quote_after {
    font-size: 4rem;
    justify-self: end;
    color: var(--theme-1);
}

/* Footer */
#footer_app_download {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: #6388fb;
    color: var(--text-color-1);
    padding-top: 7rem;
}

#footer_app_download_info {
    padding-left: 12rem;
}

#footer_app_download_info > span{
    font-size: 2.5rem;
}

#footer_app_download_buttons {
    display: flex;
    gap: 1rem;
}

#footer_app_download_buttons img {
    height: 2.5rem;
}

#footer_app_download_image_wrapper {
    display: grid;
}

#footer_app_download_image_wrapper > img {
    width: 70%;
}

#footer_references_section {
    background-color: #383a53;
    color: white;
}

#footer_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  
    background-color: #383a53;
}

#footer_nav a{
    color: white;
}

#footer_rights {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 2rem;
    color: rgba(255, 255, 255, 0.2);
    font-size: 0.8rem;
    font-weight: 400;
}